@{

}
<h2>Login</h2>

<p class="d-inline text-bg-danger p-2">目前只有layout，沒有功能</p>

<div class="panel panel-primary">
    <div class="panel-body">
        <div class="form-group">
            <label>帳號</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>密碼</label>
            <input type="password" class="form-control">
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-primary">登入</button>
    </div>
</div>