@model List<Travel.Models.Entity.Attraction>;
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h1 class="col-md-9">景點總覽</h1>
    <hr />
</div>
<div class="container">
    @foreach (var attraction in Model)
    {
        <div class="row">
            <div class="col">
                <h2>@attraction.Name</h2>
                <p>@attraction.Place</p>
                <span>類型:@attraction.Type</span>
            </div>
            <div class="col">
                <p>@attraction.Description</p>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary">我要預約</button>
                <button class="btn btn-secondary">加入行程</button>
            </div>
        </div>
    }
</div>