@model List<ReservationViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <h1 class="col-md-9">行程總覽</h1>
    <hr />
</div>
<div class="container">
    <partial name="_AttractionPartial" />
</div>
