@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="d-flex justify-content-center">
    <section class="w-25">
        <form id="account" method="post">
            <h1>@ViewData["Title"]</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                <label asp-for="Input.UserName" class="form-label">UserName</label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <div class="mb-2">
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">登入</button>
            </div>
            <div>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">忘記密碼?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">註冊為新用戶</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">重新發送確認郵件</a>
                </p>
            </div>
        </form>
    </section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
