@model List<JourneyAttractionViewModel>
@{
}

<div class="row">
    <h1 class="col-md-9">行程管理</h1>
    <div class="col-md-3 position-relative">
        <button class="btn btn-primary position-absolute bottom-0 end-0 me-3 mb-1">
            <a class="link-underline-opacity-0 link-light" asp-controller="Journey" asp-action="addJourney">新增行程<i class="bi bi-plus-square"></i></a>
        </button>
    </div>
    <hr />
</div>
<div class="container">
    <partial name="_AttractionPartial" />
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".delete-button").click(function () {
                var attractionId = $(this).data("id");
                if (confirm("確定要刪除此景點嗎？")) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("delAttraction", "Admin")",
                        data: {
                            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                            id: attractionId
                        },
                        success: function () {
                            location.reload();
                        },
                        error: function () {
                            alert("刪除過程中出現錯誤。");
                        }
                    });
                }
            });
        });
    </script>
}